{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container h-100 mt-5">
      <section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- card 1 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/burger-yellow.jpg" height="100" alt="Burgers">
                    <div class="middle">
                      <div class="text">View Burgers</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- card 2 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/fries-yellow.jpg" height="100" alt="Fries">
                    <div class="middle">
                      <div class="text">View Fries</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- card 3 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/chicken-yellow.jpg" height="100" alt="Chicken">
                    <div class="middle">
                      <div class="text">View Chicken</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- card 4 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/milkshake-yellow.jpg" height="100" alt="Milkshakes">
                    <div class="middle">
                      <div class="text">View Milkshakes</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}