{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container h-100 mt-5">
      <section class="pricing py-5">
        <div class="container">
          <div class="row">
            <!-- card 1 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Burgers</h5>
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/burger-yellow.jpg" height="100" alt="Burgers">
                  </a>
                  <hr>
                  <div class="text-center my-2">
                    <a class="shop-now-button btn btn-md rounded-10 text-uppercase py-3" href="#">Veiw Burgers</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- card 2 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Fries</h5>
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/fries-yellow.jpg" alt="Fries">
                  </a>
                  <hr>
                  <div class="text-center my-2">
                    <a class="shop-now-button btn btn-md rounded-10 text-uppercase py-3" href="#">Veiw Fries</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- card 3 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Chicken</h5>
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/chicken-yellow.jpg" alt="Chicken">
                  </a>
                  <hr>
                  <div class="text-center my-2">
                    <a class="shop-now-button btn btn-md rounded-10 text-uppercase py-3" href="#">Veiw Chicken</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- card 4 -->
            <div class="col-lg-3">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">Milkshakes</h5>
                  <a href="#">
                    <img class="card-img-top img-fluid" src="media/milkshake-yellow.jpg" alt="Milkshakes">
                  </a>
                  <hr>
                  <div class="text-center my-2">
                    <a class="shop-now-button btn btn-md rounded-10 text-uppercase py-3" href="#">Veiw Milkshakes</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
{% endblock %}