{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="row h-100">
  <div class="col-12 text-center my-auto">
    <h1 class="display-4 logo-font "> Best Burgers in Essex </h1>
    <div class="my-5">
      <h4>
        <a href="#" class="shop-now-button btn btn-lg rounded-10 text-uppercase py-3">
          <strong>See Menu!</strong>
          <i class="fas fa-beer"></i>
        </a>
      </h4>
    </div>
  </div>
</div>

{% endblock %}